* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Google Font Style link */
body {
  font-family: "Merriweather", serif;
  font-family: "Inter", sans-serif;
  font-family: "Merriweather", serif;
}

.heading-img {
  background-image: url("../images/Banner\ Image.png");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 1150px;
  height: 600px;
  margin: 50px 80px;
  border-radius: 16px;
}

.header-text1 {
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  padding-top: 60px;
}

.header-text2 {
  color: rgb(155, 150, 150);
  font-size: 70px;
  font-weight: 900;
  text-align: center;
}

.offer-text {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
  margin-top: 120px;
  margin-bottom: 93px;
}

.offer-description {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}

.offer-text2 {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 48px;
}

.offer-img {
  margin: 0px 250px;
}

/* Party Section  */

.party-img {
  background-image: url("../images/Vectorrr.png");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 1150px;
  height: 600px;
  margin: 120px 80px;
  border-radius: 16px;
}

/* column 01 */

.column1 {
  margin-left: 80px;
}
.party-text {
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 7.04px;
  width: 600px;
  margin-bottom: 24px;
}

.party-description {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  width: 697px;
  margin-bottom: 48px;
}

.btn-party {
  color: #fff;
  background-color: #070211;
  border: 1px solid white;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

/* column02 */

.column2 {
  background-image: url("../images/Group_70-removebg-preview.png");
  background-size: 245px;
  background-repeat: no-repeat;
  width: 319.83px;
  height: 464.662px;
  opacity: 92%;
  margin-right: 53px;
  margin-top: 76px;
}

.header-container3 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* Address Section  */

.header-container4 {
  width: 1150px;
  height: 600px;
  margin: 120px 80px;
  border-radius: 16px;
  background-color: #ffeeee;
}

.address {
  color: #070211;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
  text-align: center;
}

.sstyle {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
}

.btn-address {
  border-radius: 8px;
  background: #f00;
  padding: 16px 32px;
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 48px;
  border: none;
}

.address-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 100px;
}
/* Main Section Style Starts Hare */

.main-container1 {
  width: 1150px;
  height: 600px;
  margin: 120px 80px;
  border-radius: 16px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-column1 {
  margin-left: 20px;
}

.new-text1 {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}

.new-text2 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  margin-bottom: 22px;
}

.new-description {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  width: 393px;
}

/* main-column2 */
.main-column2 {
  margin-right: 20px;
}

.new-text3 {
  color: #f00;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 16px;
}

.new-description1 {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  width: 276px;
  margin-bottom: 43px;
}

.center-img {
  width: 364.844px;
  height: 364.844px;
  border: 15px solid #f00;
  border-radius: 50%;
  padding: 40.08px;
  margin-right: 76px;
}

/* Div 02 */
.main-container2 {
  width: 1150px;
  height: 933px;
  margin: 120px 80px;
  border-radius: 16px;
  background-color: #fff;
}

.holi-text1 {
  color: #070211;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
  text-align: center;
}

.holi-text2 {
  color: #070211;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  margin-bottom: 28px;
  text-align: center;
}

.holi-sp {
  color: #f00;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
}

.holi-description {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  width: 900px;
  margin-left: 180px;
}

/* Images section */

.images-section1 {
  margin-left: 721px;
  margin-top: 64px;
}

.images-section2 {
  margin-top: -4px;
  width: 1150px;
}

.bg-img1 {
  background-image: url("../images/Group\ 44.png");
  background-position: right center;
  background-size: cover;
  width: 270.841px;
  height: 270.841px;
  position: absolute;
  margin-top: 169px;
  left: 669px;
}

.bg-img2 {
  background-image: url("../images/Group\ 75.png");
  background-position: left bottom;
  background-size: cover;
  width: 690px;
  height: 573px;
  position: absolute;
  margin-top: -380px;
  left: 85px;
  opacity: 90%;
}
